In [1]:
from pdf2image import convert_from_path
import ocrmypdf
import camelot
from pytesseract import image_to_string
import pandas as pd
import os

In [3]:
all_dict ={}

In [4]:
images_3_hvi = convert_from_path(os.listdir('data/')[1])[0]
hvi_3_texts = image_to_string(images_3_hvi)

In [5]:
start_ = hvi_3_texts.find('Lot')
end_  = hvi_3_texts.find('Catalog')
lot_id = hvi_3_texts[start_+6: end_]
all_dict[lot_id] = hvi_3_texts

In [6]:
hvi_cols = hvi_3_texts.split('\n')[9:10]

In [7]:
hvi_cols = [i for i in list(hvi_cols[0].split()) if i not in ['ID', '=']]

In [8]:
temp= []
for ind, line in enumerate(hvi_3_texts.split('\n')[12:]):
    if len(line.split())>1 and ind <10:
        l =line.split()
        temp.append(dict(zip(hvi_cols,l)))

In [9]:
temp_images = convert_from_path('data/IMG_20240212_0003.pdf')

In [10]:
#hvi_cols_ =
image_to_string(temp_images[0]).split('\n')[9:10]

['Bale ID SCI Grade Mst Mic Mat  UHML Ul SF Str Elg Rd +b CGrd = TrCnt TrAr TrID Amt']

In [69]:
temp_images = convert_from_path('data/IMG_20240212_0006.pdf')
hvi_report=[]
hvi = temp_images[0]
hvi = image_to_string(temp_images[0])
start_ = hvi.find('Lot')
end_ = hvi.find('Catalog')
lot_id = hvi[start_+6:end_]
hvi_cols = hvi.split('\n')[34:36]
cols = hvi_cols = [i for i in list(hvi_cols[0].split()) if i not in ['ID', '=']]
for ind, line in enumerate(hvi.split('\n')[37:]):
    if len(line.split()) >0 and ind < 11:
        line = line.split()
        hvi_report.append(dict(zip(cols, line)))

In [1]:
# hvi_report

In [33]:
img_string = image_to_string(temp_images[0])

In [58]:
img_string.split('\n')[37]

'01 106 82 423 0.86 27.31 793 13.4 27.8 55 72.0 91 42-4 7 0.16 2 657'

## converting HVI report to CSV file codes

In [236]:
for i in os.listdir(path='data/'):
    temp_images = convert_from_path(f'data/{i}')
    hvi_report=[]
    hvi = temp_images[0]
    hvi = image_to_string(temp_images[0])
    start_ = hvi.find('Lot')
    end_ = hvi.find('Catalog')
    lot_id = hvi[start_+6:end_]
    index =0
    for ind, value in enumerate(hvi.split('\n')):
        if 'Bale ID' in value:    
            index += ind 
            break
    hvi_cols = hvi.split('\n')[index:index+2]
    cols = [i for i in list(hvi_cols[0].split()) if i not in ['ID', '=']]
    for ind, line in enumerate(hvi.split('\n')[ind+3:]):
        if len(line.split()) >0 and ind < 11:
            line = line.split()
            hvi_report.append(dict(zip(cols, line)))
    pd.DataFrame.from_dict(hvi_report).to_csv(f'data2/images_{i[-7:-4]}.csv')

In [238]:
img_2 =convert_from_path('data/IMG_20240212_0002.pdf')

In [241]:
afis_2 = image_to_string(img_2[1])

In [7]:
# print(image_to_string(img_2[2]))

In [248]:
print(afis_2)

Z 40 | a6eq WdIS:SS:€  €Z0Z/E?/S

i

ee dsn
S8Lb 82 069 Sze Ord Spe : xewW
Gil 8 0z9 eve Leg 192 UI
Seb Z SL 92 ve 6% %66D
AD Lee 8s s8 ee 68 %ND
e2b Z gL S@ €@ 8c ‘ad ‘PIS
€S6 SL 2499 S62 89 ele ueay)
OL u
Z00'L 8z 149 ble 869 see OL
S8L'L OL 899 862 veo g0€ 6
ZrO'L ab 299 vOE 289 QLE 8
090' 2@ : ogg OLe OLd Bee Z
Sz6 ve 129 90€ 689 6ze 9
O16 0@ 419 Sze 069 Sve Sg
ele 8 299 962 999 vOe v
SLL 8b 0z9 ere beg +9z € *
968 vl 899 6S2 089 €lz z
SZ6 LZ 069 o0e 902 Lze L
furl] [6 /quo] {uiri] [6 suo] uur] [6 squ9] .
ezig ueay danos yunog danos ezig ueay) denaqi4 yg dan saqi4 azig ueaYy dey |e}oL yu den |e}oL day dn .
WdES‘61€ EZOZ/ET/G SUWIL Be a}eq SOL Wd1S:SS-€ EZOT/ET/G BWI 9 9}eq JU
Ogsgz dwe, ‘ HSVHV I 4oyeE1ed0
%8'0S ApIWNH 19y 0 JN euUlyseW,
€2-6S5 1IZVHE = JeWWOD NOLLOO ATva = sulyseyy
TOYLNOD ALITVND = YoHeES0"7 NOLLOD %00} 1897] puaig
: IWSW 9)DIHy
SUON SOLMSILVLS @YsLsn VIMSLVW MVve I WwesBolg
Ob di yvodey WIMALVW Mve = adh] ajdwes
eesgolc JN IeHeaS SIdV 2976 = ajdwes
Ov by} UOISIAA MAS SIV ‘oul ‘selBojouyoey Jajsq) +~Auedwog
co Odd SIIV-.aILSN aiqe) Arewwns

## Saving the converted pdf to csv

In [219]:
pd.DataFrame.from_dict(hvi_report).to_csv('data2/images12')

In [156]:
pd.DataFrame.from_dict(hvi_report).to_csv('images10')

In [143]:
pd.DataFrame.from_dict(hvi_report).to_csv('images9.csv')

In [129]:
pd.DataFrame.from_dict(hvi_report).to_csv('images8.csv')

In [107]:
pd.DataFrame.from_dict(hvi_report).to_csv('images7.csv')

In [95]:
pd.DataFrame.from_dict(hvi_report).to_csv('images6.csv')

In [22]:
pd.DataFrame.from_dict(hvi_report).to_csv('image4.csv')

In [ ]:
hvi_report = []
for i in os.listdir('data/')[1:]:
    temp_images = convert_from_path(f'data/{i}')
    hvi = temp_images[0]
    hvi = image_to_string(temp_images[0])
    start_ = hvi.find('Lot')
    end_ = hvi.find('Catalog')
    lot_id = hvi[start_+6:end_]
    hvi_cols = hvi.split('\n')[9:10]
    if hvi_cols in hvi:
        cols = hvi_cols = [i for i in list(hvi_cols[0].split()) if i not in ['ID', '=']]
        for ind, line in enumerate(hvi.split('\n')[11:]):
            if len(line.split()) >0 and ind < 11:
                line = line.split()
                hvi_report.append(dict(zip(cols, line)))

In [12]:
# pd.DataFrame.from_dict(hvi_report)

In [13]:
# all_image_texts={}
# for i in os.listdir('data/')[1:]:
#     try:
#         temp_images = convert_from_path(f'data/{i}')
#         hvi = image_to_string(temp_images[0])
#         Afis_neps = image_to_string(temp_images[1])
#         Afis_rest = image_to_string(temp_images[2])
#         start_ = hvi.find('Lot')
#         end_ = hvi.find('Catalog')
#         lot_id = hvi[start_+6:end_]
#         image_texts = image_to_string(hvi)
#         hvi_cols = image_texts.split('\n')[9:10]
#         cols = hvi_cols = [i for i in list(hvi_cols[0].split()) if i not in ['ID', '=']]
#         hvi_text = image_to_string(hvi)
#         d=[]
#         for ind, line in enumerate(hvi_text.split('\n')[11:]):
#             if len(line.split()) >0 and ind < 11:
#                 line = line.split()
#                 d.append(dict(zip(cols, line)))
#                 d.append(dict('lod_id', lot_id))
#     except :
#         raise ValueError
#     break

In [63]:
start = s.find('Lot')

In [64]:
end = s.find('Catalog')

In [65]:
s[start: end]

'Lot ID BRAZIL 65-23 '

In [60]:
s[s.find('Lot ID')+6: s.find('Lot ID')+ 19]

' BRAZIL 65-23'

In [5]:
d = convert_from_path('IMG_20240212_0003.pdf')

In [10]:
s = image_to_string(d[0])

In [19]:
s[s.find('Lot')+6: s.find('Catalog')]

'IVORYCOAST 60-23 '

In [24]:
s[s.find('Mic'): s.find('Mic') + 6]

'Mic Ma'

## Defining a function for the pdf to csv converter

In [10]:
def images_to_text(img_path):
    images = convert_from_path(img_path)
    image_1 = images[0]
    image_2 = images[1]
    image_3 = images[2]
    h = image_to_string(image_1).split('\n')[9:10]
    cols = [i for i in h[0].split() if i not in ['ID', '=']]
    texts = {}
    d =[]
    text_1 = image_to_string(image_1)
    for ind, line in enumerate(text_1.split('\n')[11:]):
        if len(line.split()) >0 and ind < 11:
            line = line.split()
            d.append(dict(zip(cols, line)))
    return d

In [12]:
image_1_text =images_to_text('IMG_20240212_0003.pdf')

In [13]:
pd.DataFrame.from_dict(image_1_text)

,Bale,SCI,Grade,Mst,Mic,Mat,UHML,Ul,SF,Str,Elg,Rd,+b,CGrd,TrCnt,TrAr,TrID,Amt
0,07,116,73.,390,0.84,28.07,81.3,18.0,27.3,74,69.2,84,521,53,0.56,4,726,NaN
1,02,121,72°,3.75,0.85,29.99,796,19.4,29.2,65,72.2,98,(32-2,39,0.36,3,543,NaN
2,03,136,81,411,0.86,28.15,826,@22),329,66,68.6,97,42-2,ral,0.57,4,380,NaN
3,(),—,429,74,4.03,0.85,28.51,82.7,13.5,30.1,67,663,8.5,van,53,0.75,4,745
4,05,138,8.2,3.81,0.84,27.88,81.6,(22.0),33.3,7773.7,90,314,45,0.37,3.,Bt,NaN,NaN
5,06,~~,418,714.06,0.86,27.12,808,20.0,29.6,62,71.9,88,42-4,34,0.58,3,453,NaN
6,07,:,107,69,3.97,0.85,27.27,778,19.0,30.2,“68,72.0,91,42-1,45,0.45,4,666
7,08,420,78,3.99,0.84,28.03,805,188,29.7,78,70.9,95,424,45,051,4,614,NaN
8,09,a,114,67,3.81,0.85,27.42,81.4,20.0,26.4,63,708,89,42-1,35,0.31,3,378
9,10,130,81,3.75,0.84,28.21,819,17.8,31000,75,6770,857,52-1,68,0.56,4,646,NaN

In [ ]:
def images_to_text(img_path):
    images = convert_from_path(img_path)
    image_1 = images[0]
    image_2 = images[1]
    image_3 = images[2]
    h = image_to_string(image_1).split('\n')[9:10]
    cols = [i for i in h[0].split() if i not in ['ID', '=']]
    texts = {}
    image_1_list =[]
    text_1 = image_to_string(image_1)
    for ind, line in enumerate(text_1.split('\n')[11:]):
        if len(line.split()) >0 and ind < 11:
            line = line.split()
            image_1_list.append(dict(zip(cols, line)))
    return image_1_list

In [2]:
images1 = convert_from_path('IMG_20240212_0003.pdf')

In [7]:
text = image_to_string(images1[0])

In [81]:
h = text.split('\n')[9:10]

In [92]:
cols = [i for i in h[0].split() if i not in ['ID', '=']]

In [12]:
df= df.drop(['ID', '='], axis=1)

In [93]:
d = []
cols = cols
for ind, line in enumerate(text.split('\n')[11:]):
    if len(line.split()) >0 and ind <11:
        line = line.split()
        d.append(dict(zip(cols,line)))

In [7]:
f ={}
f['mic'] = 123

In [8]:
f

{'mic': 123}

In [5]:
l = [1,2,3]
m = ['a', 'b', 'c', 'd']
dict(zip(l,m))

{1: 'a', 2: 'b', 3: 'c'}

In [94]:
pd.DataFrame.from_dict(d)

,Bale,SCI,Grade,Mst,Mic,Mat,UHML,Ul,SF,Str,Elg,Rd,+b,CGrd,TrCnt,TrAr,TrID,Amt
0,07,116,73.,390,0.84,28.07,81.3,18.0,27.3,74,69.2,84,521,53,0.56,4,726,NaN
1,02,121,72°,3.75,0.85,29.99,796,19.4,29.2,65,72.2,98,(32-2,39,0.36,3,543,NaN
2,03,136,81,411,0.86,28.15,826,@22),329,66,68.6,97,42-2,ral,0.57,4,380,NaN
3,(),—,429,74,4.03,0.85,28.51,82.7,13.5,30.1,67,663,8.5,van,53,0.75,4,745
4,05,138,8.2,3.81,0.84,27.88,81.6,(22.0),33.3,7773.7,90,314,45,0.37,3.,Bt,NaN,NaN
5,06,~~,418,714.06,0.86,27.12,808,20.0,29.6,62,71.9,88,42-4,34,0.58,3,453,NaN
6,07,:,107,69,3.97,0.85,27.27,778,19.0,30.2,“68,72.0,91,42-1,45,0.45,4,666
7,08,420,78,3.99,0.84,28.03,805,188,29.7,78,70.9,95,424,45,051,4,614,NaN
8,09,a,114,67,3.81,0.85,27.42,81.4,20.0,26.4,63,708,89,42-1,35,0.31,3,378
9,10,130,81,3.75,0.84,28.21,819,17.8,31000,75,6770,857,52-1,68,0.56,4,646,NaN

In [19]:
print(text)

System Testing - Individual Tests

USTER® HVI 1000

LotID IVORYCOAST 60-23 Catalog ,
Operator HVI SW Version 3.4.2.76
Print Date 5/23/2023 Serial Number 2106548
Print Time 12:12:09PM Test Mode 4
Short/Weak Reference Upland 34459 Long/Strong Reference Upland 34545
Bale ID SCI Grade Mst Mic Mat  UHML Ul SF Str Elg Rd +b CGrd = TrCnt TrAr TrID Amt
[%] [matt] [mm] [%] [CN%] [g/tex] [%] Upland [%] LeafGrd

07 116 73. 390 0.84 28.07 81.3 18.0 27.3 74 69.2 84 521 53 0.56 4 726
02 121 72° 3.75 0.85 29.99 796 19.4 29.2 65 72.2 98 (32-2 39 0.36 3 543
03 136 81 411 0.86 28.15 826 @22) 329 66 68.6 97 42-2 ral 0.57 4 380
() — 429 74 4.03 0.85 28.51 82.7 13.5 30.1 67 663 8.5 van 53 0.75 4 745
05 138 8.2 3.81 0.84 27.88 81.6 (22.0) 33.3 7773.7 90 314 45 0.37 3. Bt
06 ~~ 418 714.06 0.86 27.12 808 20.0 29.6 62 71.9 88 42-4 34 0.58 3 453
07 : 107 69 3.97 0.85 27.27 778 19.0 30.2 “68 72.0 91 42-1 45 0.45 4 666
08 420 78 3.99 0.84 28.03 805 188 29.7 78 70.9 95 424 45 051 4 614
09 a 114 67 3.81 0.85 27.42 81.4 20.0 26.4 63 708 89 42-1 35 0.31 3 378
10 130 81 3.75 0.84 28.21 819 17.8 31000 75 6770 857 52-1 68 0.56 4 646
n 10

Average 123 75 3.92 0.85 28.06 81.0 ¢ 19.0 30.0 70 70.3 9.0 42-2 49 0.50 4 566
Std.Dev. 10 05 013 0.01 0.81 15 ; 24 0.6 2.3 05 13 0.13 134.4
CV% 8.1 72 3.4 0.7 2.9 18 129 7A 8.6 3.3 5.5 26.0 26.2 ; 23.7
Q99% +/- 10 06 0.14 0.01 0.83 15 25 2.2 0.6 24 0S 13 0.14 138.1
Min 107 67 3.75 0.84 27.12 778 3.5) 26.4 62 663 8.4 34 0.31 378
Max 138 82 411 0.86 29.99 827 G22) 33.3 78 737 9.8 ral 0.75 745

System Testing - Individual Tests

Page 1 of 1